@font-face {
	font-family: 'Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-thin.woff2') format('woff2'), url('ttf/iosevka-thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('woff2/iosevka-thinoblique.woff2') format('woff2'), url('ttf/iosevka-thinoblique.ttf') format('truetype');
}

body {
background-color:#282a36;
font-family: Iosevka;
width:90%;
margin: 0 auto;
text-align: left;
}

h1 {
    color:#50fa7b;
    font-size: 250%;
    font-style: oblique;
}

h2 {
    color:#bd93f9 ;
}

p {
    color:#8be9fd;
}

ul {
    color:#ff79c6;
    list-style-type: upper-roman;
}

address {
    margin-top: 16%;
    color:#ffb86c;
}
